.progress-good-and-bad {
    background: #d9534f;
    color: #d9534f;
}

.progress-good-and-bad::-webkit-progress-bar {
    background: #d9534f !important;
}

.progress-good-and-bad::-webkit-progress-value {
    background-color: #5cb85c !important;
}

.progress-good-and-bad::-moz-progress-bar {
    background-color: #5cb85c;
}

.progress-good-and-bad > .progress-bar {
    background-color: #5cb85c;
}

input[type='date'] {
    color: #55595c !important;
}

.hexagon-background {
    background: url('/static/image/background.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    background-repeat: repeat;
}

.bear-background {
    background: url('/static/image/bear.svg');
    background-position: left;
    background-repeat: no-repeat;
    height: 300px;
}
.pink-navbar {
    color: #eceeef;
    background-color: #E74C3C;
}
.pink-btn
{
    background-color: #e74c3c;
    border-color : #E74C3C;
}
.white-background{
    background-color: white !important;
}

#footer{
    clear: both;
    margin-left: 0;
    padding-left: inherit;
    border-top: 1px solid #ccc;
    height: 13%;
    overflow: hidden;
    background-color: #f5f5f5;
}

#footer .footer-body {
    color: #006699;
    line-height: 1.66666666666667;
    padding-top: 20px;
    min-height: 44px;
    text-align: center;
}

.content-div{
    min-height: 580px;
    display: block;
}

.epilepsy-asu-logo{
    width: 150px;
}

.epilepsy-hospital-logo{
    width: 40px;
}

.card-info-label{
    font-size: 12px;
    font-weight: normal;
}

.hide{
    display: none;
}

.padding-10{
    padding: 10px !important;
}

.card-list-item-bold{
    font-weight: bold;
}