<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/datatables/media/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/main.css">

        <!-- Scripts -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js" defer></script>
        <script type="text/javascript" src="/vendor/tether/dist/js/tether.min.js" defer></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js" defer></script>
        <script type="text/javascript" src="/vendor/moment/min/moment.min.js" defer></script>
        <script type="text/javascript" src="/vendor/Chart.js/dist/Chart.min.js" defer></script>
        <script type="text/javascript" src="/vendor/datatables/media/js/jquery.dataTables.min.js" defer></script>
        <script type="text/javascript" src="/vendor/datatables/media/js/dataTables.bootstrap4.min.js" defer></script>

        <!-- Polyfills -->
        <script src="/vendor/better-dom/dist/better-dom.min.js" defer></script>
        <script src="/vendor/better-i18n-plugin/dist/better-i18n-plugin.js" defer></script>
        <script src="/vendor/better-dateinput-polyfill/dist/better-dateinput-polyfill.js" defer></script>
    </head>
    <body>
        <div class = "hexagon-background">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <img src="/static/image/asu_logo.png" class="epilepsy-asu-logo" alt="ASU" />
                        <img src="/static/image/ch_logo.png" class="epilepsy-hospital-logo" alt="Children's Hospital" />
                    </div>
                    <!-- blank div -->
                    <div class="col-md-6"></div>
                </div>
            </div>

            <!-- display the content -->
            {{{ content }}}

            <!-- Footer -->
            <footer id="footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-4 col-md-4 footer-body">
                            <p>Copyright © HEAL ASU 2017 </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
