<div class="container-fluid">

    <br/>
    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="#">Trial:</a></li>
                <li><a href="#">Patient:</a></li>
                <li class="active">Finger Tapping</li>
            </ol>
        </div>
    </div>

    <br />
    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">
            TODO
        </div>
    </div>


</div>