<div class="container-fluid">
    <br />
    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Pattern Comparison</li>
            </ol>
        </div>
    </div>

    <!--Aggregate Chart Row-->
    <div class="row">
        <div class="col-md-12">
            <h3>Aggregate Chart</h3>

            <div>
                <canvas id="aggregatePatternComparisonChart"></canvas>
            </div>

        </div>
    </div>

    <br />
    <!-- Attempt Details Row -->
</div>
